#container {

  column-width: 10em;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.review-item {
  width: 20%;
}

.userUrl {
  border-radius: 50px;
  display: table-cell;
  vertical-align: top;
}

#button {
  background-color: #40D9A3;
  color: white;
  border-color: transparent;
}

#sort {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  padding: 6px 12px;
  border: 1px solid #ebebeb;
  display: block;
}