#reviews-section {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}

.reviews {

  margin-left: 400px;
  margin-right: 1000px;
  width: 37%;
  margin:inherit auto;
}

.header {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: large;
  padding-top: 16px;
  padding-bottom: 20px;
}

.sort-right {
  right: 0;
  align-items: center;
}

#sort_by {

  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 12px;
  border: 1px solid #ebebeb;
  display: flex;
  color: #555555;
}

.media-left {
  /* padding-right: 15px;
  display: table-cell;
  vertical-align: top;
  float: left;
  box-sizing: border-box;
  height: auto; */
  float: left;
  display: flex;
  padding: 10px;
  height: auto;
  width: 15%;
}

img {
  border-radius: 50%;
  display: table-cell;
  vertical-align: top;
  width: 75px;
  height: 75px;
}

.media {
  content: "";
  display: table;
  clear: both;
  display:flex;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-right {
  clear: both;
  right: 0;

}

.media-body {
  float: left;

  width: auto;
  height: auto;

}

.recommend-icon {
  background-color: #40D9ac;
  color: white;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.username {
  font-weight: bold;
  margin-right: 5px;
}

.recommend {
  margin-right: 5px;
}

.reviews_list {
  float: left;
}

.info-left {
  display: flex;
}

#button {
  background-color: #40D9A3;
  color: white;
  border-color: transparent;
  left: 8px;
  top: 12px;
  padding-right: 6px;
  width: 105px;
  padding: 12px 0;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700;
}

.comment {
  display: flex;
}

.comment-container {
  padding: 10px;
  min-height: 80px;
  background-color: #f9f9f9;
  color: #757575;

}

.comment_avatar {
  padding: 6px 10px 10px 10px;
  vertical-align: top;
  /* display: flex; */
  /* float: left; */
  /* clear: both; */
  /* float: left;
  display: flex;
  padding: 10px;
  height: 15%;
  width: 10%; */
}

.comment_header {
  font-weight: bold;
  /* clear: both;
  display: flex; */
}

.comment_body {
  float: left;
}

.helpful-container {
  color: #40D9A3;
  font-size: smaller;
  font-weight: 700;
  padding-bottom: 15px;
}

hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #ebebeb;
}

section {
  margin-left: 400px;
  margin-right: 1000px;
  border-top: 1px solid #ebebeb;
  margin: 30px 0;
  padding-top: 16px;
}

.column {
  float: left;
  width: 22%;
  height: auto;
  padding: 5px;
  /* border-radius: 50%; */
  /* object-fit: cover; */
  /* margin-right: 2.5%; */
  margin-top: 7px;
  margin-bottom: 7px;
  cursor: pointer;
}

.row::after {
  content: '';
  /* clear: both; */
  display: table;
  /* border-radius: 50%;*/
}

.display-photos {
  width: 100%;
  float: left;
  border-radius: 17px;
  overflow: hidden;
}

/* * {
  box-sizing: border-box;
} */

.review_cta {
  clear: both;
}